In [1]:
# import required libraries
import json
import requests
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input,Output

In [12]:
# Download the financial statements and convert them to pandas dataframe

# url for requesting balance sheet
url_balance_sheet = "https://financial-statements.p.rapidapi.com/api/v1/resources/balance-sheet"

# url for requesting income statement
url_income_statement = "https://financial-statements.p.rapidapi.com/api/v1/resources/income-statement"

#url for requesting cash flow statement
url_cash_flow = "https://financial-statements.p.rapidapi.com/api/v1/resources/cash-flow"

querystring = {"ticker":"AAPL"}  # ticker is company's symbol

headers = {
    'x-rapidapi-key': "a107f0d377msh48cc37df0c02d0ep17e87cjsn99d9e2171e36",
    'x-rapidapi-host': "financial-statements.p.rapidapi.com"
    }

# Fetching the data and converting them into data frames

balance_sheet_response = requests.request("GET",url_balance_sheet,headers=headers ,params = querystring)
balance_sheet_df = pd.DataFrame.from_dict(balance_sheet_response.json())

income_sheet_response = requests.request("GET",url_income_statement,headers = headers,params = querystring)
income_sheet_df = pd.DataFrame.from_dict(income_sheet_response.json())

cash_flow_response = requests.request("GET",url_cash_flow,headers =headers,params=querystring)
cash_flow_df = pd.DataFrame.from_dict(cash_flow_response.json())

In [13]:
# Displaying the balance sheet
balance_sheet_df

,9/30/2017,9/30/2018,9/30/2019,9/30/2020
Common Stock Equity,134047000,107147000,90488000,65339000
Invested Capital,249727000,221630000,198535000,177775000
Net Debt,95391000,88570000,59203000,74420000
Net Tangible Assets,126032000,107147000,90488000,65339000
Ordinary Shares Number,20504804,19019944,17772944,16976763
Share Issued,20504804,19019944,17772944,16976763
Tangible Book Value,126032000,107147000,90488000,65339000
Total Assets,375319000,365725000,338516000,323888000
Total Capitalization,231254000,200882000,182295000,164006000
Total Debt,115680000,114483000,108047000,112436000
Total Equity Gross Minority Interest,134047000,107147000,90488000,65339000
Total Liabilities Net Minority Interest,241272000,258578000,248028000,258549000
Working Capital,27831000,14473000,57101000,38321000

In [15]:
# Displaying the cash flow statement
cash_flow_df

,9/30/2017,9/30/2018,9/30/2019,9/30/2020,ttm
Capital Expenditure,-12795000,-13313000,-10495000,-7309000,-9118000
End Cash Position,20289000,25913000,50224000,39789000,40006000
Financing Cash Flow,-17347000,-87876000,-90976000,-86820000,-84048000
Free Cash Flow,50803000,64121000,58896000,73365000,90473000
Income Tax Paid Supplemental Data,11591000,10417000,15263000,9501000,12272000
Interest Paid Supplemental Data,2092000,3022000,3423000,3002000,2640000
Investing Cash Flow,-46446000,16066000,45896000,-4289000,-18586000
Issuance of Capital Stock,555000,669000,781000,880000,1011000
Issuance of Debt,28662000,6969000,6963000,16091000,26308000
Operating Cash Flow,63598000,77434000,69391000,80674000,99591000
Repayment of Debt,-3500000,-6500000,-8805000,-12629000,-11879000
Repurchase of Capital Stock,-32900000,-72738000,-66897000,-72358000,-76401000

In [16]:
# Displaying the income statement
income_sheet_df

,9/30/2017,9/30/2018,9/30/2019,9/30/2020,ttm
Basic Average Shares,20868968,19821508,18471336,17352119,None
Cost of Revenue,141048000,163756000,161782000,169559000,195630000
Diluted Average Shares,21006768,20000436,18595652,17528214,None
Diluted NI Available to Com Stockholders,48351000,59531000,55256000,57411000,76311000
EBIT,66412000,76143000,69313000,69964000,92267000
Gross Profit,88186000,101839000,98392000,104956000,129776000
Interest Expense,2323000,3240000,3576000,2873000,2639000
Interest Income,5201000,5686000,4961000,3763000,3134000
Net Income Common Stockholders,48351000,59531000,55256000,57411000,76311000
Net Income from Continuing & Discontinued Operation,48351000,59531000,55256000,57411000,76311000
Net Income from Continuing Operation Net Minority Interest,48351000,59531000,55256000,57411000,76311000
Net Interest Income,2878000,2446000,1385000,890000,495000
Net Non Operating Interest Income Expense,2878000,2446000,1385000,890000,495000
Normalized EBITDA,76569000,87046000,81860000,81020000,103184000
Normalized Income,48351000,59531000,55256000,57411000,76311000
Operating Expense,26842000,30941000,34462000,38668000,40873000
Operating Income,61344000,70898000,63930000,66288000,88903000
Other Income Expense,-133000,-441000,422000,-87000,230000
Pretax Income,64089000,72903000,65737000,67091000,89628000
Reconciled Cost of Revenue,141048000,163756000,161782000,169559000,195630000
Reconciled Depreciation,10157000,10903000,12547000,11056000,10917000
Tax Effect of Unusual Items,0,0,0,0,0
Tax Provision,15738000,13372000,10481000,9680000,13317000
Tax Rate for Calcs,0,0,0,0,0
Total Expenses,167890000,194697000,196244000,208227000,236503000
Total Operating Income as Reported,61344000,70898000,63930000,66288000,88903000
Total Revenue,229234000,265595000,260174000,274515000,325406000

In [5]:
# Create the dash application

app = dash.Dash(__name__)

NameError: name 'fig' is not defined

In [ ]:
# Get the layout of the application and adjust it
# Create an outer division using html.Div and add title to it using html.H1 components
# Add html.div and core input text component
# Finally, add group component board

app.layout = html.Div(children = [
    html.H1('Finanacials Dashboard',style = {'textAlign':'center','margin-top': '20px','color':'#f0efeb',
                                                                          'font-size': 40}),
                                  html.P('It provides the interactive graphs of financials of the major US corporations.',
                                         style = {'textAlign':'Center','color':'#f0efeb','font-size': 20}),
                                  html.Div(["Company ticker ",dcc.Input(id = 'company-ticker',value = 'AAPL',type = 'str',
                                                                       style = {'height':'50px','font-size':35})],
                                          style = {'font-size':40,'color':'black'}),
                                
                                  html.Br(),
                                  html.Br(),
                                  
                                  
                                 
                                 #dcc.Graph(figure = fig)
                                 ],style = {'backgroundColor':'#808891'})
                                  
                                  
                                  
                                  
                                 




# Run the app
if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [12/Jun/2021 10:49:57] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2021 10:49:58] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2021 10:49:58] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2021 10:49:58] "GET /_favicon.ico?v=1.20.0 HTTP/1.1" 200 -